**/*.log
.DS_Store
**/__pycache__
**/.classpath
**/.dockerignore
**/.env
**/.env.*
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
*.md
**/sql
npm-debug.log

# Node
node_modules
**/.turbo

# Apps
apps/gradebook/.next
apps/gradebook/.turbo
apps/agent-demo/react/dist

# Ignore local database data and backups
postgres/

# Misc
.github/
.changeset/
benchmarks/
fly-*.toml
LICENSE


# Ignore our local postgres data directory
/postgres/data
/postgres/backups

